<div class="div-header"><h3>Artwork Management</h3>
  <hr>
</div>

<div class="search-div">
  <button  class="btn btn-primary btn-xs" (click)="newArtwork()"><i class="fa fa-plus-circle"> Add</i></button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()"/>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"><i class="fa fa-close"></i></button>
  </mat-form-field>

  <!--<button  class="btn btn-primary btn-xs" (click)="newArtwork()"><i class="fa fa-plus-circle"> Add</i></button>

  <div class="form-group">

    <input class="" type="text" [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()" class="form-control"/>
  </div>-->
</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="artworkId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ArtworkId</th>
      <td mat-cell *matCellDef="let row">{{row.artworkId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="artiste">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Artiste</th>
      <td mat-cell *matCellDef="let row">{{row.artiste}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="shippingWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ShippingWeight</th>
      <td mat-cell *matCellDef="let row">{{row.shippingWeight}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">{{row.amount}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CategoryId</th>
      <td mat-cell *matCellDef="let row">{{row.category.categoryId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category name</th>
      <td mat-cell *matCellDef="let row">{{row.category.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row" >
        <span class="btSpace"><button type="button" class="btn btn-primary btn-xs" ><i class="fa fa-eye"></i></button></span>
        <span class="btSpace"><button type="button" class="btn btn-success" (click)="onEdit(row)"><i class="fa fa-edit"></i></button></span>
        <span class="btSpace"><button type="button" class="btn btn-danger" (click)="onDelete(row.artworkId)"><i class="fa fa-trash-o"></i></button></span>
      </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 50, 100, 250]">
  </mat-paginator>
</div>
